<mat-card class="form-container">
  <mat-card-header>
    <mat-card-title class="form-title">LOGIN</mat-card-title>
  </mat-card-header>
  <p *ngIf="authError">Invalid credentials</p>
  <form class="form" #f="ngForm" (ngSubmit)="onLogin(f)">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <span matPrefix> <mat-icon color="primary">person</mat-icon> </span>
      <input
        type="text"
        matInput
        placeholder="username"
        required
        pattern="^[a-zA-Z0-9]+$"
        ngModel
        name="username"
        #username="ngModel"
      />
      <mat-error *ngIf="username.invalid">
        Username contains only letters and/or numbers
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <span matPrefix><mat-icon color="primary">lock</mat-icon></span>
      <input
        type="password"
        matInput
        placeholder="password"
        required
        minlength="6"
        name="password"
        [ngModel]
        #password="ngModel"
      />
      <mat-error *ngIf="password.invalid">
        password is required and minmum length 6
      </mat-error>
    </mat-form-field>
    <button
      type="submit"
      mat-raised-button
      color="primary"
      [disabled]="f.invalid"
    >
      Login
    </button>
  </form>
</mat-card>
