mat-card {
  width: 80%;
  margin: 7rem auto;
}
h2 {
  margin-bottom: 10px;
}
.mat-radio-button ~ .mat-radio-button {
  display: block;
  margin: 10px 0;
}

.btn {
  display: flex;
  justify-content: flex-end;
}
.btn button {
  width: 25%;
  font-weight: 1.2rem;
  font-weight: 600;
}
